* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  background: #252525;
  background: linear-gradient(145deg, #05838a, #0e39f4, #03e94f);
  background-size: 400%;
  overflow-x: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  background: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0, 0.5);
  font-size: min(5em, 10vw);
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fff;
  padding: 0 4vw;
}
nav .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80%;
  cursor: pointer;
}
nav .logo a {
  height: 100%;
}
nav .logo img {
  height: 100%;
  filter: grayscale(100%) invert(80%) sepia(39%) saturate(4221%)
    hue-rotate(334deg) brightness(101%) contrast(101%);
  /* animation: anim-logo 20s linear .5s infinite alternate; */
}
nav .logo span {
  width: 80%;
  letter-spacing: 2px;
  font-weight: bold;
  animation: anim-text 2s ease-in forwards;
}
@keyframes anim-logo {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

main {
  /* scroll-snap-type: y mandatory; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::selection {
  background: #ff9933;
  color: #020406;
}
::-webkit-scrollbar {
  width: 10px;
  background: #020406;
}
::-webkit-scrollbar-thumb {
  background: #ff9933;
  box-shadow: 0 -100vh 0 100vh #ff9933, 0 0 55px 10px #ff9933;
}
section {
  /* scroll-snap-align: start; */
  height: 100vh;
  width: 100%;
}
.slideshow {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: black;
  /* background-image: url(./imgs/road1.jpg); */
  background-size: cover;
  background-blend-mode: color-burn;
}
.slideshow .hero {
  color: aliceblue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slideshow .hero h1 {
  font-size: clamp(6rem, 15vw, 30rem);
}
.slideshow .hero p:first-of-type {
  font-family: "Montserrat", sans-serif;
  width: clamp(70%, 80%, 1100px);
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-top: max(-2ch, -3vw);
  text-align: center;
  margin-bottom: max(1ch, 10px);
  font-weight: 600;
}
.slideshow .hero p:last-of-type {
  font-family: "Montserrat", sans-serif;
  margin-top: 0ch;
  font-size: 1.25rem;
  margin-bottom: 1ch;
}
@media screen and (max-width: 768px) {
  .slideshow .hero p:last-of-type {
    display: none;
  }
  .slideshow .hero p:first-of-type {
    font-weight: 400;
  }
}

.slideshow .hero button {
  font-size: clamp(1.5rem, 6vw, 2rem);
  font-weight: 600;
  padding: 0.75ch 1.5ch;
  border: none;
  outline: none;
  transition: 0.75s;
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 1px;
  color: #ff9933;
  background: #0f6b8f;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.slideshow .hero button:hover {
  background: #ff9933;
  color: #c72424;
  letter-spacing: 2px;
}

.content {
  background: #05838a;
  padding: 10vh 4vw;
}
.content h1 {
  color: aliceblue;
  font-size: max(calc(4vw + 10px), 2.5em);
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5), 5px 5px 0px rgba(0, 0, 0, 0.5),
    7px 7px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.25ch;
  letter-spacing: 1px;
}
.content ul {
  list-style: none;
  font-size: max(calc(3vw + 2px), 2em);
}
.content ul li {
  position: relative;
  font-weight: 700;
}
.content ul li a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}
.content ul li a:hover {
  font-size: 1.2em;
  transition: 0.2s;
}
.content.entered ul li {
  opacity: 0;
  transform: translateY(400%);
  animation: fade-up 0.5s linear calc(var(--i) * 0.5s) forwards;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.content ul li::before {
  position: absolute;
  content: "";
  width: 800px;
  height: 450px;
  transform: scale(0.5);
  opacity: 0;
  left: 20vw;
  top: 0;
  transition: 1s;
  background-size: cover;
}
.content ul li:has(a:hover)::before {
  width: 800px;
  height: 450px;
  background: lightcoral;
  transform: scale(1);
  opacity: 1;
  left: 42vw;
  transition: 1s;
}

.content ul li#tharka::before {
  background: url(./tharka/tharka_main.jpg);
  background-size: cover;
}
.content ul li#pathwari::before {
  background: url(./imgs/road2.jpg);
  background-size: cover;
}
.content ul li#kudiya::before {
  background: url(./kudiyaghat/kudiyaghat_main.jpg);
  background-size: cover;
}
.content ul li#parsel::before {
  background: url(./parsel/parsel_main.jpg);
  background-size: cover;
}
@media screen and (max-width: 768px){
  .content ul li::before {
    display: none;
  }
}

section#kudiya-ghat {
  background: rgba(0, 0, 0, 0.5);
  padding: 10vh 4vw;
  position: relative;
  color: #ffffff60;
  text-shadow: 1px 1px rgba(0,0,0,.5);
}
section#kudiya-ghat h1 {
  font-size: max(calc(4vw + 10px), 2.5em);
}
section#kudiya-ghat p {
  font-size: max(calc(1vw + 10px), 1em);
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
section#kudiya-ghat button {
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  /* font-size: min(20px, 6vw); */
  font-size: 150%;
  text-transform: uppercase;
  width: min(100%, 400px);
  height: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1),
              0 0 10px rgba(0, 0, 0, 0.2) inset;
  margin-top: 4ch;
  color: #ffffff60;
  background: rgba(0, 0, 0, 0.3);
}
section#kudiya-ghat .slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-color: black; */
}
section#kudiya-ghat .slides .slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background: #16241b;
}
@keyframes anim-slides {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-400%);
  }
}
@keyframes anim-slides-mobile {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-500%);
  }
}
section#kudiya-ghat .slides .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .lg-block {
    display: none;
  }
  section#kudiya-ghat .slides.lg-block {
    display: none;
  }
  section#kudiya-ghat .slides.lg-hidden {
    animation: anim-slides-mobile 30s linear infinite alternate;
  }
}
@media screen and (min-width: 768px) {
  .lg-hidden {
    display: none;
  }
  section#kudiya-ghat .slides.lg-hidden {
    display: none;
  }
  section#kudiya-ghat .slides.lg-block {
    animation: anim-slides 40s linear infinite alternate;
  }
}
